@page "/admin/settings/roles"

@using HRM.Models
@using HRM.Services.Interfaces
@using HRM.DTOs.Roles

@rendermode RenderMode.InteractiveServer
@* @inject HrmTeContext DbContext *@
@inject IRoleService RoleService

<div class="bg-white p-3 rounded-xl border border-slate-200 shadow-sm mb-4 ">

        <div class="flex items-center gap-2 mb-4">
            <h3 class="text-lg font-semibold text-slate-800">Manage Empty</h3>
        </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  @*       @foreach (var role in roles)
        {
            <div class="bg-white p-5 rounded-xl border border-slate-200 shadow-sm hover:shadow-md transition-shadow">
                <div class="flex justify-between items-start mb-3">
                    <span class="text-xs font-bold text-blue-600 bg-blue-50 px-2 py-1 rounded">@role.RoleKey</span>
                    <button class="text-slate-400 hover:text-blue-600">
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path d="M12 5v.01M12 12v.01M12 19v.01"></path></svg>
                    </button>
                </div>

                <h3 class="text-lg font-bold text-slate-800">@role.Name</h3>
                <p class="text-sm text-slate-500 mt-1 mb-4">@role.Description</p>

                <div class="flex items-center gap-2 pt-4 border-t border-slate-100">
                    <span class="text-[10px] font-bold uppercase text-slate-400">Context:</span>
                    <span class="text-xs text-slate-700 font-medium bg-slate-100 px-2 py-0.5 rounded">@role.ContextID</span>
                </div>
            </div>
        } *@
    </div>
      
</div>

@code {

    private List<RoleDto> roles = new();

    protected override async Task OnInitializedAsync()
    {
        // roles = await RoleService.GetAllRolesAsync();
    }
 
}