@page "/admin/attendance/manage-attendance/official-trip-request"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.Authorization
@using HRM.Models
@using HRM.Services

@rendermode RenderMode.InteractiveServer

@inject HrmTeContext DbContext
@inject UserService UserService


<!-- Header & Action Bar -->
<div class="flex justify-between items-end border-b border-slate-100 mb-4 mt-[-10px]">
    <div>
        <h2 class="text-xl font-bold text-slate-800">Out Of Office Requests</h2>
        <p class="text-sm text-slate-500 mt-1">Configure global leave policies, durations, and system rules.</p>
    </div>
</div>

<div class="bg-white rounded-xl shadow-sm border border-slate-100 overflow-hidden p-0">

    <!-- Tab Navigation -->
    <div class="border-b border-slate-200">
 Out of request
    </div>

 
</div>
 
 
@code {
    // Set the default tab that opens when the page loads
  
}