@* @page "/" *@

@using HRM.Models

@rendermode RenderMode.InteractiveServer
@inject HrmTeContext DbContext

<div class="bg-white p-3 rounded-xl border border-slate-200 shadow-sm mb-4 ">
        <div class="flex items-center gap-2 mb-4">
        <h3 class="text-lg font-semibold text-slate-800">Manage Segments</h3>
        </div>
</div>

@code {
 
}