<BaseCard Title="@Title"
          Icon="@Icon">


    <div class="space-y-3">

        @ChildContent

    </div>


</BaseCard>


@code {

    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Icon { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}