<BaseCard Title="@Title"
          SubTitle="@Description"
          Icon="@Icon">


    <div class="flex items-end justify-between">

        <div>
            <div class="text-3xl font-bold text-slate-800">
                @Value
            </div>

            <div class="text-xs text-slate-400 mt-1">
                @Footer
            </div>

        </div>


        <div class="text-sm text-green-600 font-medium">
            @Trend
        </div>

    </div>


</BaseCard>


@code {



    
    [Parameter] public string SubTitle { get; set; } = "";
    [Parameter] public string ChildContent { get; set; } = "";
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Description { get; set; } = "";
    [Parameter] public string Icon { get; set; } = "";
    [Parameter] public string Value { get; set; } = "";
    [Parameter] public string Footer { get; set; } = "";
    [Parameter] public string Trend { get; set; } = "";

}