@* 
@page "/admin/my/workspace/staff" *@
@using HRM.Enum
@using Microsoft.EntityFrameworkCore
@using HRM.Models
@inject HrmTeContext Db

<div class="mt-6 bg-white rounded-xl border border-slate-200 shadow-sm">

    <h2>Organisation Workspace</h2>

     @OrganisationId

</div>


@code {
    [Parameter]
    public int OrganisationId { get; set; }

    [Parameter]
    public WorkspaceTab ActiveTab { get; set; }

}