@using HRM.Components.Admin.My.Workspace.Cards
@using HRM.Components.Admin.My.Workspace.Tabs
@using HRM.Components.Cards
@using HRM.Components.Layout
@using HRM.Enum






<WorkSpaceLayout Loading="@loading">
    <Left>
        <CalendarCard />
        <MyTeamCard />
        <PendingLeaveCard />
    </Left>

    <Center>
        <TeamAttendanceCard />
        <RecentActivityCard /> 
    </Center>

    <Right>
        <NotificationCard Title="Title" />
        <TodoCard />
    </Right>
</WorkSpaceLayout>   


    @if (ActiveTab == WorkspaceTab.Calendar)
    {
        <div class="grid grid-cols-1 gap-4">
            <WorkspaceCalendarCard />
        </div>
    }
    else if (ActiveTab == WorkspaceTab.ShiftWork)
    {
        <div class="grid grid-cols-1 gap-4">
            <ShiftAssignments />
        </div>
    }
    else if (ActiveTab == WorkspaceTab.AssignmentCreate)
    {
        <div class="grid grid-cols-1 gap-4">
            <AssignmentCreat />
        </div>
    }
    else if (ActiveTab == WorkspaceTab.Assignments)
    {
        <div class="grid grid-cols-1 gap-4">
            <Assignment />
        </div>
    }
          








@code {
    private bool loading = true;


    [Parameter] public string Title { get; set; } = "";

    [Parameter]
    public WorkspaceTab ActiveTab { get; set; }



    protected override async Task OnInitializedAsync()
    {
 
       loading = false;
    }
    private void OnTabChanged(WorkspaceTab tab)
    {
        ActiveTab = tab;
    }
}