@page "/online/break-time-request"
@using Microsoft.AspNetCore.Components.Authorization
@using HRM.Models
@using HRM.Services

@inject UserService UserService

@rendermode RenderMode.InteractiveServer

<PageTitle>Settings - HR Portal</PageTitle>

<AuthorizeView>
    <Authorized>
        

        <div class="max-w-12xl mx-auto py-8 px-">
            <div class="mb-10">
                <h1 class="text-3xl font-extrabold text-slate-800">Break Time requests</h1>
                <p class="text-slate-500 mt-2">Manage your organization's core configuration and operational parameters.</p>
            </div>

            <!-- Grid: 4 columns on large screens, 2 on medium -->
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                
            </div>
        </div>
 
      
    </Authorized>

    <NotAuthorized>
        <div class="p-6">
            <p class="text-slate-500">
                Please log in to view the dashboard.
            </p>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
  

}